.h-p{
    margin: 10px 0px;
    text-align: justify;
}

.h-s{
    color: #28e98c;
    font-size: 16px;
    font-weight: bold;
}

.research-interest{
    color: white;
    background-color:#28e98c;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
.r-i-keys{
    display: inline-block;
    margin-left: 5px;
}