.award-card{
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
    border:1px solid white;
}
.award-card-row{
    display: flex;
    align-items: center;
}
.award-img-container{
    flex: 1;
    padding-right: 10px;
}
.award-img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.award-info{
    flex: 4;
}

.award-data-level{

}
.award-activities{
    margin: 0px;
}